!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title devgotchi

    %link{rel: "stylesheet", type: "text/css", href: "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "css/noice.css"}

    %script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"}
    %script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"}
    %script{type: "text/javascript", src: "js/app.js"}
  %body
    .ui.two.column.grid
      .column
        %pre.console
      .column
        .ui.grid
          .ten.wide.column
            .score
            %img.developer{src: "assets/developer/default.png"}
          .six.wide.column
            %ul.status_bars
              %li.money
                %div
              %li.life
                %div
              %li.money
                %div

  .ui.modal.new-game
    .header Choose your character name :
    .content
      .ui.input
        %input.character-name{type: "text", placeholder: "Voyant"}
    .actions
      .ui.positive.button.new-game-start Start !

  .ui.modal.level-up
    %i.close.icon
    .header
      %p Congratulations your reached to next level !
