!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title devgotchi

    %link{rel: "stylesheet", type: "text/css", href: "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "css/noice.css"}

    %script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"}
    %script{type: "text/javascript", src: "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"}
    %script{type: "text/javascript", src: "js/app.js"}
  %body
    .ui.two.column.grid
      .column
        .workspace
          %pre.console
      .column
        .ui.grid
          .ten.wide.column
            .ui.two.item.menu
              .item
                .level
              .item
                .money
            .row
              %img.developer{src: "assets/developer/default.png"}
          .six.wide.column
            .grid
              .sixteen.wide.column
                .ui.olive.progress.xp
                  .bar
                .ui.olive.progress.hungry
                  .bar
                .ui.olive.progress.tired
                  .bar


              .ui.cards.skills.sixteen.wide.column
                .card.skill.terminal-skill
                  .content
                    .header="Terminal"
                    .meta
                      You have&nbsp;
                      %span.terminal-number
                      &#47;
                      %span.terminal-max
                      &nbsp;terminals.
                    .description="Buy more terminals to type faster"
                  .extra.content
                    .ui.one.buttons
                      .ui.button.terminal-btn
                        Buy for&nbsp;
                        %span.terminal-price
                .card.skill.robot-skill
                  .content
                    .header="Robot"
                    .meta
                      You have&nbsp;
                      %span.robot-number
                      &#47;
                      %span.robot-max
                      &nbsp;robots.
                    .description="Buy more robots to type for you"
                  .extra.content
                    .ui.one.buttons
                      .ui.button.robot-btn
                        Buy for&nbsp;
                        %span.robot-price

  .ui.modal.new-game
    .header Choose your character name :
    .content
      .ui.input
        %input.character-name{type: "text", placeholder: "Voyant"}
    .actions
      .ui.positive.button.new-game-start Start !

  .ui.modal.level-up
    %i.close.icon
    .header
      %p Congratulations your reached the next level !
    .content
      ESC to continue
