@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro)

$loading_color: #fbe822

=status_bar
  margin: 10px 0
  height: 15px
  background: darken($loading_color, 30%)
  width: 300px

=progress_percentage($progress)
  div
    height: 100%
    width: $progress
    background: $loading_color

body
  background-color: #7bb1a4

.console
  font-family: 'Source Code Pro'
  width: 50%
  position: absolute
  top: 0
  bottom: 0
  background-color: black
  color: green
  overflow: scroll

.ui
  padding: 10px 10px
  width: 40%
  position: absolute
  right: 0
  top: 0
  bottom: 0

.status_bars
  float: right
  padding: 0
  margin: 0
  list-style: none

.money, .life, .money
  +status_bar

.money
  +progress_percentage(10%)

.life
  +progress_percentage(50%)

.money
  +progress_percentage(88%)
